.Tasks{
    display: flex;
    width: 55vh;
    margin: 20px;
    padding: 20px;
    justify-content: right;
    justify-Content: 'space-between';
    margin-right: 50;
    border-radius: 1.5ch;
}

.Tasks:hover{
    background-color:rgb(164, 192, 161);
  }