.Tasks{
    display: flex;
   /* min-width: 250px;
   width:auto; */
    height: 70px;
    margin: 20px;
    padding: 20px;
    justify-content: right;
    justify-Content: 'space-between';
    margin-right: 50px;
    border-radius: 1.5ch;
}

.Tasks:hover{
    background-color:rgb(164, 192, 161);
  }