.Tasks{
    display: flex;
    width: 250px;
    height: 30%;
    margin: 20px;
    padding: 20px;
    justify-content: right;
    justify-Content: 'space-between';
    margin-right: 50;
    border-radius: 1.5ch;
}