/* .Board{
  right: 60px;
  margin: -60px;
  height: 130px;
  width: 100%;
  justify-content: right;
 justify-self: unset;
  display:inline-flex;
  border: 5px solid rgb(83, 90, 146); 
  position:absolute;
  
}  */
.Board{
  left: 10px;
  margin: 10px;
  height: auto;
  width: 300px;
  justify-content: right;
 justify-self: unset;
   /* border-radius: 1.5ch; */
  border: 5px solid rgb(83, 90, 146); 
  position:absolute;
  
} 
.txt{
  margin: 10px;
  padding: 20px;
  width: auto;
  height: 60px;

  color: rgb(55, 82, 82);
  border-radius: 20px;
  border: 1px solid transparent;
  position: relative;
  font-size: 28px;
  line-height: 32px;
  font-family: ReformaNarrowMedium;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
}



.Cover_Tasks{
    float: right;
    padding: 5%;
    margin-right: -7%;
    font-size: small;
}

.TitleTasks{

  background: linear-gradient(90deg,#6eb5b8 0,#738376);
  color:rgb(236, 245, 220);
  height: 40px;
   border-radius: 1ch;
   margin-bottom: 15px;
   font-size: small;
}

.TasksCover{
  background: linear-gradient(90deg,#a3b0b1 0,#738376);
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 1.5ch;
}

.MediaCover{
  float:right;
  margin: 10%;
}

/* .MediaSize{
  background-color:rgb(194, 219, 240);
  height: 50px;
  width:50px;

  border-radius: 1.5ch;
  
} */
  