/* .Board{
  right: 60px;
  margin: -60px;
  height: 130px;
  width: 100%;
  justify-content: right;
 justify-self: unset;
  display:inline-flex;
  border: 5px solid rgb(83, 90, 146); 
  position:absolute;
  
}  */
.Board{
  left: 10px;
  margin: 10px;
  height: auto;
  width: 300px;
  justify-content: right;
 justify-self: unset;
   /* border-radius: 1.5ch; */
  border: 5px solid rgb(83, 90, 146); 
  position:absolute;
  
  
} 
.Board:hover{
  background-color:rgb(234, 237, 247) ;

}
.txt{
  margin: 10px;
  padding: 20px;
  width: auto;
  height: 60px;
  color: rgb(41, 61, 61);
  border: 1px solid transparent;
  font-size: 28px;
  line-height: 32px;
  font-family: ReformaNarrowMedium;
  font-weight: 800;
  white-space: nowrap;
}

.Cover_Tasks{
    float: right;
    padding: 5%;
    margin-right: -7%;
    font-size: small;
}

.TitleTasks{
  background: linear-gradient(90deg, rgb(236, 245, 220) 95%, rgb(164, 190, 125) 1%);
  color:rgb(88, 92, 81);
  height: 40px;
   border-radius: 1ch;
   margin-bottom: 15px;
   font-size: small;
}

.TasksCover{
  background-color:  rgb(236, 245, 220);
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 1.5ch;
  overflow: scroll;
  height: 440px;
  width: 320px;
}
.addTaskCover{
  background-color:  rgb(236, 245, 220);
  margin: -0.5px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 320px;
}

.MediaCover{
  float:right;
  margin: 10%;
}

.AddTasks{
  display: flex;
   width: 85%;
   height: 90px;
   margin: 20px;
   padding: 20px;
   justify-content: right;
   justify-Content: 'space-between';
   margin-right: 50px;
   border-radius: 1.5ch;
   color: rgb(90, 107, 122);
   border-style: dotted;
   background-color: rgb(240, 247, 229);
}
.AddTasks:hover{
  background: linear-gradient(90deg,#f1fae7 0,#deecd5);
}

/* .MediaSize{
  background-color:rgb(194, 219, 240);
  height: 50px;
  width:50px;

  border-radius: 1.5ch;
  
} */