   .Board {
    float:right;
    position: absolute;
    right: 170px;
    margin: -170px;
    padding: 5px;
    height: 80px;
    width:100%; 
    border: 5px solid rgb(83, 90, 146); 
    background-color: rgb(238, 238, 238);
    justify-content: right;
    display:inline-flex;
  }

  