  .Stations{
    background: linear-gradient(90deg,rgb(255, 248, 243) 0,#e29e62);
    margin: -0.5px;
    /* margin-right: 30px; */
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 1.5ch;
  }
  
  .Station{
    display: flex;
    width: 85%;
    height: 30%;
    margin: 20px;
    padding: 20px;
    justify-content:right;
    justify-Content: 'space-between';
    margin-right: 50;
    border-radius: 1.5ch;
    font-size: small;
}

  .Station:hover{
    background: linear-gradient(90deg,#1ed4da 0,#72ae7a);
  }
 
  .TitleStation{
    background: linear-gradient(90deg,rgb(255, 234, 220) 0,#e29e62);   
    color:rgb(255, 245, 238);
    height: 40px;
    border-radius: 1ch;
    margin-bottom: 15px;
  }

  .Cover_Stations{
    float: right;
    margin-right: -7%;
    padding: 5%;
    /* margin: 2px; */
  
  }
