  .images{
    display: flex;
    width: 280px;
    height: 100px;
    /* margin-right:  230px;
    margin-left: 240px;
    padding:  80px; */

  }
  img{

    width: 600px;
    height: 130px;
    margin: 2%;
    padding: 2%;
  }
