.AddRoute{
  margin: 10px;
  padding: 20px;
  width: auto;
  height: 60px;
  background-color: rgba(74, 94, 114, 0.9);
  color: rgb(188, 202, 202);
  border-radius: 20px;
  border: 1px solid transparent;
  border-color: rgb(185, 199, 199);
  
  position: relative;
  font-size
  : 28px;
  line-height: 32px;
  font-family: ReformaNarrowMedium;
  font-weight: 400;
  display: inline-block;
  white-space: nowrap;
}
.AddRoute:hover{
  background: linear-gradient(90deg,#1ed4da 0,#72ae7a);
  border-color: rgb(141, 151, 151);
  color: rgb(233, 255, 255);

}
.icon{
font-size: 20px;
}
.Actions {
  display: flex;
  justify-content:right;
  min-height: 15vh;
  
  background-color: rgba(74, 94, 114, 0.9);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 72px;
  transition: background-color .3s ease-out;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
}

.RouteName{
  text-align: right;
  border: none;
  display: flex;
  height:30px;
  width:100%;
  background-color: rgb(180, 180, 180);
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0px;
} 
.textView{
  display: flex;
  height:30px;
}


/* .NewRouteBody{
  height:60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(178, 187, 201);
  color: white;
} */

/* .GetElement{
  text-align: right;
  border: none;
  display: flex;
  height:30px;
  width:100%;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 10px;
} */
/* .Dropdown:active, .styledSelect.active {
  background-color:rgb(136, 30, 30);
} */





