
.App-logo {
  margin-top: 20vh;
  padding-bottom: 20vh;
  height: 30vh;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */