.App {
  text-align: center;
}
/* nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(21, 27, 36);
  color: white;
} */
/* .nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
} */

/* .abt,.shp, .hom{
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  color: rgb(0, 0, 0);
  
} */
.link{
  color: rgb(255, 255, 255);

}
.logo{
  height: 10vh;
  width: 20vh;
}