.logo{
    height: 10vh;
    width: 20vh;
}
.nav-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.link :hover{
    color: rgb(105, 105, 105);
    text-decoration: none;
}
.UserIcon{
    font-size: 40px;


}