.showTasks {
    display: flex;
    margin: 20px;
    background-color: rgb(180, 182, 196);
    border-radius: 40px;
    padding: 20px;
    color: aliceblue;
    border: rgb(180, 182, 196);
    width: 200px;
    text-align: center;

}

.image {}

.showTasks:hover {
    background-color: rgb(124, 127, 147);

}

.View_my_tasks {
    width: 300px;
    height: 400px;
    position: absolute;
    background-color: rgb(244, 234, 255);
    border-radius: 20px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    height: 430px;
}

.tasksList {
    padding: 20px;
    overflow: scroll;
    height: 266px;
    background-color: rgb(216, 206, 225);

}

.Cover_view_my_tasks {
    margin: 20px;
}

.Title_view_my_tasks {
    background-color: rgb(244, 234, 255);
    color: rgb(27, 26, 26);
    width: 300px;
    height: 40px;
    border-radius: 1ch;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;

}